Repository lsst-ts/LOVE-integration-tools: changes, and which Jenkins stages are due for each by the changed paths.
All: Deploy Linode develop version, Deploy Linode master version

Jenkinsfile:

pipeline {
  agent any
  environment {
    registryCredential = "dockerhub-inriachile"
  }

  stages {
    stage("Deploy Linode develop version") {
      when {
        anyOf {
          changeset "deploy/linode/config/*"
          changeset "deploy/linode/.env"
          changeset "deploy/linode/ospl.xml"
          changeset "deploy/linode/docker-compose.yml"
          changeset "deploy/linode/nginx-develop.conf"
          changeset "Jenkinsfile"
          triggeredBy "UpstreamCause"
          triggeredBy "UserIdCause"
        }
        branch "develop"
      }
      steps {
        script {
          sshagent(credentials: ['love-ssh-key-2']) {
            sh 'scp -o StrictHostKeyChecking=no deploy/linode/docker-compose.yml love@dev.love.inria.cl:.'
            sh 'scp -o StrictHostKeyChecking=no deploy/linode/.env love@dev.love.inria.cl:.'
            sh 'scp -o StrictHostKeyChecking=no deploy/linode/ospl.xml love@dev.love.inria.cl:.'
            sh 'scp -o StrictHostKeyChecking=no deploy/linode/nginx-develop.conf love@dev.love.inria.cl:.'
            sh 'scp -o StrictHostKeyChecking=no -r deploy/linode/config love@dev.love.inria.cl:.'
            sh 'scp -o StrictHostKeyChecking=no -r deploy/linode/simulatorcamera.py love@dev.love.inria.cl:.'
            sh 'ssh love@dev.love.inria.cl "docker network inspect testnet >/dev/null 2>&1 || docker network create testnet"'
            sh 'ssh love@dev.love.inria.cl docker-compose  pull'
            sh 'ssh love@dev.love.inria.cl docker-compose  down -v'
            sh 'ssh love@dev.love.inria.cl "source local_env.sh; docker-compose up -d"'
          }
        }
      }
    }

    stage("Deploy Linode master version") {
      when {
        anyOf {
          changeset "deploy/linode/config/*"
          changeset "deploy/linode/.env"
          changeset "deploy/linode/ospl.xml"
          changeset "deploy/linode/docker-compose-master.yml"
          changeset "deploy/linode/nginx-master.conf"
          changeset "Jenkinsfile"
          triggeredBy "UpstreamCause"
          triggeredBy "UserIdCause"
        }
        branch "develop"
      }
      steps {
        script {
          sshagent(credentials: ['love-ssh-key-2']) {
            sh 'scp -o StrictHostKeyChecking=no deploy/linode/docker-compose-master.yml love@love.inria.cl:.'
            sh 'scp -o StrictHostKeyChecking=no deploy/linode/.env love@love.inria.cl:.'
            sh 'scp -o StrictHostKeyChecking=no deploy/linode/ospl.xml love@love.inria.cl:.'
            sh 'scp -o StrictHostKeyChecking=no deploy/linode/nginx-master.conf love@love.inria.cl:.'
            sh 'scp -o StrictHostKeyChecking=no -r deploy/linode/config love@love.inria.cl:.'
            sh 'ssh love@love.inria.cl "docker network inspect testnet >/dev/null 2>&1 || docker network create testnet"'
            sh 'ssh love@love.inria.cl docker-compose -f docker-compose-master.yml pull'
            sh 'ssh love@love.inria.cl docker-compose -f docker-compose-master.yml down -v'
            sh 'ssh love@love.inria.cl "source local_env.sh; docker-compose -f docker-compose-master.yml up -d"'
          }
        }
      }
    }
  }
}

Add cam_feeds entry to love config files
  deploy/linode/config/love.json
  deploy/local/build/config/love.json
  deploy/local/live/config/love.json
  deploy/summit/config/love.json
  deploy/tucson/config/love.json
Due: Deploy Linode develop version, Deploy Linode master version

Change love.json files
  deploy/linode/config/love.json
  deploy/local/build/config/love.json
  deploy/local/live/config/love.json
  deploy/summit/config/love.json
  deploy/tucson/config/love.json
Due: Deploy Linode develop version, Deploy Linode master version

Add styleguidist to live and lite envs
  deploy/local/lite/docker-compose.yml
  deploy/local/live/docker-compose.yml
  deploy/local/live/nginx.conf
Due: none

Add preliminary stress testing jupyter notebook
  jupyter/stress_test.ipynb
Due: none

Add statistics and plot to stress test
  jupyter/stress_test.ipynb
Due: none

Fix cam feeds in love.json files
  deploy/linode/config/love.json
  deploy/local/build/config/love.json
  deploy/local/live/config/love.json
  deploy/summit/config/love.json
  deploy/tucson/config/love.json
Due: Deploy Linode develop version, Deploy Linode master version

add atdome start-enable notebook
  jupyter/atdome.ipynb
Due: none

Fix mutability issue
  jupyter/stress_test.ipynb
Due: none

Ignore .log files
  .gitignore
Due: none

Move e2e tests to new tests folder
  tests/e2e/Dockerfile
  tests/e2e/cy-open.yml
  tests/e2e/cypress.json
  tests/e2e/cypress/integration/commands_spec.js
  tests/e2e/cypress/integration/login_spec.js
  tests/e2e/cypress/integration/uif.js
  tests/e2e/cypress/plugins/index.js
  tests/e2e/cypress/support/commands.js
  tests/e2e/cypress/support/index.js
  tests/e2e/cypress/utils/utils.js
  tests/e2e/docker-compose.yml
Due: none

Add env for load test
  deploy/local/build/docker-compose.yml
  tests/load/.env
  tests/load/config/config.json
  tests/load/config/love.json
  tests/load/docker-compose.yml
  tests/load/nginx.conf
Due: none

Update README
  README.md
Due: none

Stop tracking ospl-info.log
  jupyter/ospl-info.log
Due: none

Update notebook results
  jupyter/stress_test.ipynb
Due: none

Add some texts and explanation to the notebook
  jupyter/stress_test.ipynb
Due: none

Minor improvements
  jupyter/stress_test.ipynb
Due: none

Remove gencam form nginx conf
  tests/load/nginx.conf
Due: none

Add histogram to results
  jupyter/stress_test.ipynb
Due: none

Save test run
  jupyter/stress_test.ipynb
Due: none

Show latencies with rcv and snd timestamps
  jupyter/stress_test.ipynb
Due: none

Run 50 clients and 50 emitters
  jupyter/stress_test.ipynb
Due: none

Add environment simulator to live env
  deploy/local/live/config/config.json
  deploy/local/live/docker-compose.yml
Due: none

Add environment to linode config
  deploy/linode/config/config.json
Due: Deploy Linode develop version, Deploy Linode master version

Add environment sim to linode compose
  deploy/linode/docker-compose.yml
Due: Deploy Linode develop version

Save all trace timstamps
  jupyter/stress_test.ipynb
Due: none

Run with 50 clients and 50 emitters
  jupyter/stress_test.ipynb
Due: none

use scripts and disable simulator service
  README.md
  deploy/local/live/.env
  deploy/local/live/docker-compose.yml
Due: none

Update overview
  docs/doctrees/environment.pickle
  docs/doctrees/modules/overview.doctree
  docs/doctrees/modules/readme_link.doctree
  docs/html/.buildinfo
  docs/html/_images/LOVE_arch.svg
  docs/html/_images/LOVE_deployment.svg
  docs/html/_images/LOVE_overview.svg
  docs/html/_sources/modules/overview.rst.txt
  docs/html/index.html
  docs/html/modules/overview.html
  docs/html/modules/readme_link.html
  docs/html/objects.inv
  docs/html/searchindex.js
  docsrc/source/assets/LOVE_arch.drawio
  docsrc/source/assets/LOVE_arch.svg
  docsrc/source/assets/LOVE_deployment.drawio
  docsrc/source/assets/LOVE_deployment.svg
  docsrc/source/assets/LOVE_overview.svg
  docsrc/source/conf.py
  docsrc/source/modules/overview.rst
Due: none

Add Django SECRET_KEY to .env and compose files, and Update README
  README.md
  deploy/linode/.env
  deploy/linode/docker-compose-master.yml
  deploy/linode/docker-compose.yml
  deploy/local/build/.env
  deploy/local/live/.env
  deploy/local/live/docker-compose.yml
  deploy/summit/docker-compose.yml
  deploy/tucson/.env
  deploy/tucson/docker-compose.yml
  docs/doctrees/environment.pickle
  docs/doctrees/modules/readme_link.doctree
  docs/html/modules/readme_link.html
  docs/html/searchindex.js
Due: Deploy Linode develop version, Deploy Linode master version

Feature/update docs (#61)
  README.md
  deploy/linode/.env
  deploy/linode/docker-compose-master.yml
  deploy/linode/docker-compose.yml
  deploy/local/build/.env
  deploy/local/live/.env
  deploy/local/live/docker-compose.yml
  deploy/summit/docker-compose.yml
  deploy/tucson/.env
  deploy/tucson/docker-compose.yml
  docs/doctrees/environment.pickle
  docs/doctrees/modules/overview.doctree
  docs/doctrees/modules/readme_link.doctree
  docs/html/.buildinfo
  docs/html/_images/LOVE_arch.svg
  docs/html/_images/LOVE_deployment.svg
  docs/html/_images/LOVE_overview.svg
  docs/html/_sources/modules/overview.rst.txt
  docs/html/index.html
  docs/html/modules/overview.html
  docs/html/modules/readme_link.html
  docs/html/objects.inv
  docs/html/searchindex.js
  docsrc/source/assets/LOVE_arch.drawio
  docsrc/source/assets/LOVE_arch.svg
  docsrc/source/assets/LOVE_deployment.drawio
  docsrc/source/assets/LOVE_deployment.svg
  docsrc/source/assets/LOVE_overview.svg
  docsrc/source/conf.py
  docsrc/source/modules/overview.rst
Due: Deploy Linode develop version, Deploy Linode master version

ad ts scripts to linode and local/live envs
  deploy/linode/.env
  deploy/local/live/.env
Due: Deploy Linode develop version, Deploy Linode master version

wrap jenkins commands un run.sh and shallow clone ts scripts repos
  .gitignore
  Jenkinsfile
  deploy/linode/run.sh
Due: Deploy Linode develop version, Deploy Linode master version

disable simulator service in linode
  deploy/linode/docker-compose.yml
Due: Deploy Linode develop version

add missingg ts_scripts volumes in linode env #62
  deploy/linode/docker-compose.yml
Due: Deploy Linode develop version

fix typo in jenkinsfile
  Jenkinsfile
Due: Deploy Linode develop version, Deploy Linode master version

clone from http to avoid auth checks
  deploy/linode/run.sh
Due: none

add run.sh to changeset
  Jenkinsfile
Due: Deploy Linode develop version, Deploy Linode master version

adds a script to rotate the dome
  deploy/local/live/scriptqueue-scripts/rotate_atdome.py
Due: none
