Repository lsst-ts/LOVE-integration-tools: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Linode Nginx Docker image, Push Linode Nginx Docker image, Build Tucson Nginx Docker image, Push Nginx Tucson Docker image, Build La Serena Nginx Docker image, Push Nginx LaSerena Docker image, Deploy Linode develop version, Deploy Linode master version

Jenkinsfile:

pipeline {
  agent any
  environment {
    registryCredential = "dockerhub-inriachile"
    dockerImageName = "inriachile/love-nginx:${GIT_BRANCH}"
    dockerImageLinode = ""
    dockerImageTucson = ""
  }
  stages {
    stage("Build Linode Nginx Docker image") {
      when {
        changeset "deploy/linode/nginx/*"
        anyOf {
          branch "master"
          branch "develop"
        }
      }
      steps {
        script {
          dockerImageLinode = docker.build(dockerImageName, "./deploy/linode/nginx")
        }
      }
    }
    stage("Push Linode Nginx Docker image") {
      when {
        changeset "deploy/linode/nginx/*"
        anyOf {
          branch "master"
          branch "develop"
        }
      }
      steps {
        script {
          docker.withRegistry("", registryCredential) {
            dockerImageLinode.push()
          }
        }
      }
    }

    stage("Build Tucson Nginx Docker image") {
      when {
        changeset "deploy/tucson/nginx/*"
        anyOf {
          branch "develop"
        }
      }
      steps {
        script {
          dockerImageTucson = docker.build("inriachile/love-nginx:tucson", "./deploy/tucson/nginx")
        }
      }
    }
    stage("Push Nginx Tucson Docker image") {
      when {
        changeset "deploy/tucson/nginx/*"
        anyOf {
          branch "develop"
        }
      }
      steps {
        script {
          docker.withRegistry("", registryCredential) {
            dockerImageTucson.push()
          }
        }
      }
    }

    stage("Build La Serena Nginx Docker image") {
      when {
        changeset "deploy/laserena/prod/nginx/*"
        anyOf {
          branch "develop"
        }
      }
      steps {
        script {
          dockerImageLaSerena = docker.build("inriachile/love-nginx:laserena", "./deploy/laserena/prod/nginx")
        }
      }
    }
    stage("Push Nginx LaSerena Docker image") {
      when {
        changeset "deploy/laserena/prod/nginx/*"
        anyOf {
          branch "develop"
        }
      }
      steps {
        script {
          docker.withRegistry("", registryCredential) {
            dockerImageTucson.push()
          }
        }
      }
    }


    stage("Deploy Linode develop version") {
      when {
        anyOf {
          changeset "deploy/linode/*"
          changeset "Jenkinsfile"
        }
        branch "develop"
      }
      steps {
        script {
          sshagent(credentials: ['love-ssh-key-2']) {
            sh 'scp -o StrictHostKeyChecking=no deploy/linode/docker-compose-dev.yml love@dev.love.inria.cl:.'
            sh 'scp -o StrictHostKeyChecking=no deploy/linode/.env love@dev.love.inria.cl:.'
            sh 'ssh love@dev.love.inria.cl docker-compose -f docker-compose-dev.yml pull'
            sh 'ssh love@dev.love.inria.cl docker-compose -f docker-compose-dev.yml down -v'
            sh 'ssh love@dev.love.inria.cl "docker network ls | grep testnet > /dev/null  || docker network create testnet"'
            sh 'ssh love@dev.love.inria.cl docker-compose -f docker-compose-dev.yml up -d'
          }
        }
      }
    }

    stage("Deploy Linode master version") {
      when {
        anyOf {
          changeset "deploy/linode/*"
          changeset "Jenkinsfile"
        }
        branch "master"
      }
      steps {
        script {
          sshagent(credentials: ['love-ssh-key-2']) {
            sh 'scp -o StrictHostKeyChecking=no deploy/linode/docker-compose.yml love@love.inria.cl:.'
            sh 'scp -o StrictHostKeyChecking=no deploy/linode/.env love@love.inria.cl:.'
            sh 'ssh love@love.inria.cl docker-compose pull'
            sh 'ssh love@love.inria.cl docker-compose down -v'
            sh 'ssh love@love.inria.cl docker-compose up -d'
          }
        }
      }
    }
  }
}

update la serena deployment compose
  deploy/laserena/docker-compose.yml
Due: none

include ospl.xml in linode deployment, #8, #11, #6
  Jenkinsfile
  deploy/linode/.env
Due: Deploy Linode develop version, Deploy Linode master version

fix nginx /manager proxy_pass, #11 #8 #6
  deploy/linode/nginx/default.conf
Due: Build Linode Nginx Docker image, Push Linode Nginx Docker image

fix "deploy linode " stages triggers
  Jenkinsfile
Due: Deploy Linode develop version, Deploy Linode master version

swap linode compose files and build nginx locally (for testing)
  deploy/linode/.env
  deploy/linode/docker-compose-master.yml
  deploy/linode/docker-compose.yml
Due: Deploy Linode develop version, Deploy Linode master version

update compose.yml files in Jenkinsfile for linode deployment
  Jenkinsfile
Due: Deploy Linode develop version, Deploy Linode master version

use inriachile/love-nginx:develop instead of local image
  deploy/linode/docker-compose.yml
Due: Deploy Linode develop version, Deploy Linode master version

fix indentation in linode compose.yml
  deploy/linode/docker-compose.yml
Due: Deploy Linode develop version, Deploy Linode master version

downgrade docker-compose version to match linode
  deploy/linode/docker-compose.yml
Due: Deploy Linode develop version, Deploy Linode master version

mv ospl.xml and fix paths
  deploy/linode/.env
  deploy/linode/ospl.xml
  deploy/local/build/.env
  deploy/local/live/.env
Due: Deploy Linode develop version, Deploy Linode master version

update opsl.xml path in Jenkinsfile
  Jenkinsfile
Due: Deploy Linode develop version, Deploy Linode master version

rm volume in linode simulator service
  deploy/linode/docker-compose.yml
Due: Deploy Linode develop version, Deploy Linode master version

add simulator to laserena deployment and update env vars
  deploy/laserena/.env
  deploy/laserena/docker-compose-simulator.yml
Due: none

build atdome-sim locally with salindex=21
  deploy/local/live/atdome-sim/Dockerfile
  deploy/local/live/atdome-sim/setup.sh
  deploy/local/live/docker-compose.yml
Due: none

add service to simulate the queue csc
  deploy/local/live/docker-compose.yml
  deploy/local/live/scriptqueue-sim/Dockerfile
  deploy/local/live/scriptqueue-sim/entrypoint.sh
Due: none

use testnet in local/live
  deploy/local/live/.env
  deploy/local/live/nginx/default.conf
Due: none

fix entrypoint of scriptqueue-sim
  deploy/local/live/scriptqueue-sim/entrypoint.sh
Due: none

simulator depends_on queue and dome
  deploy/local/live/docker-compose.yml
Due: none

set atdome-sim salindex=1
  deploy/local/live/atdome-sim/setup.sh
Due: none

Pass config.json to simulator and producer on live docker-compose
  deploy/local/live/config/config.json
  deploy/local/live/docker-compose.yml
Due: none
