Repository lsst-ts/LOVE-integration-tools: changes, and which Jenkins stages are due for each by the changed paths.
All: Deploy Linode develop version, Deploy Linode master version

Deploy Linode develop version:
        steps {
          script {
            sshagent(credentials: ['love-ssh-key-2']) {
              sh 'scp -o StrictHostKeyChecking=no deploy/linode/docker-compose.yml love@dev.love.inria.cl:.'
              sh 'scp -o StrictHostKeyChecking=no deploy/linode/.env love@dev.love.inria.cl:.'
  ...

Deploy Linode master version:
        steps {
          script {
            sshagent(credentials: ['love-ssh-key-2']) {
              sh 'scp -o StrictHostKeyChecking=no deploy/linode/docker-compose-master.yml love@love.inria.cl:.'
              sh 'scp -o StrictHostKeyChecking=no deploy/linode/.env love@love.inria.cl:.'
  ...

ignore local_env.sh
  .gitignore
Due: none

Change frontend mounting points to enable docs update from container
  deploy/local/lite/docker-compose.yml
  deploy/local/live/docker-compose.yml
Due: none

Split producer in linode env
  deploy/linode/docker-compose.yml
  deploy/local/live/docker-compose.yml
Due: Deploy Linode develop version

Move jupyter
  deploy/local/live/.env
  deploy/local/live/docker-compose.yml
  deploy/local/notebooks/ospl-info.log
  jupyter/disable_enable_queue.ipynb
  jupyter/gencam.ipynb
  jupyter/jupyter.sh
  jupyter/ospl-info.log
  jupyter/watcher.ipynb
Due: none

Add Jupyter service to linode env, and add password for jupyter
  deploy/linode/.env
  deploy/linode/docker-compose.yml
  deploy/local/live/.env
  deploy/local/live/docker-compose.yml
  jupyter/jupyter.sh
Due: Deploy Linode develop version, Deploy Linode master version

Add jupyter notebooks to piepline and adapt their location on .env file
  Jenkinsfile
  deploy/linode/.env
Due: Deploy Linode develop version, Deploy Linode master version

Remove jupyter.sh (now in Docker image)
  jupyter/jupyter.sh
Due: none

Fix master deployment
  deploy/linode/docker-compose-master.yml
Due: Deploy Linode master version

Split producers in local/build env
  deploy/local/build/docker-compose.yml
Due: none

Make nginx depend on gencam-sim
  deploy/local/build/docker-compose.yml
Due: none

Use local folder (mounted volume) for thumbnails in linode and local/build envs
  .gitignore
  deploy/linode/docker-compose.yml
  deploy/local/build/docker-compose.yml
Due: Deploy Linode develop version

Update tucson and summit envs
  deploy/summit/docker-compose.yml
  deploy/tucson/docker-compose.yml
Due: none

Replicate thumbnail handling on live env
  deploy/local/live/docker-compose.yml
  deploy/local/live/nginx.conf
Due: none

add love-commander service to live env
  deploy/local/live/.env
  deploy/local/live/docker-compose.yml
Due: none

Add integration testing
  .gitignore
  e2e/cy-open.yml
  e2e/cypress.json
  e2e/cypress/integration/commands_spec.js
  e2e/cypress/integration/login_spec.js
  e2e/cypress/plugins/index.js
  e2e/cypress/support/commands.js
  e2e/cypress/support/index.js
  e2e/docker-compose.yml
Due: none

Update readme with integration testing instructions
  README.md
Due: none

replace commands service by commander in live/build
  deploy/local/build/docker-compose.yml
  deploy/local/live/docker-compose.yml
Due: none

add commander to linode env
  deploy/linode/docker-compose.yml
Due: Deploy Linode develop version

Add cypress snapshots plugin
  .gitignore
  e2e/Dockerfile
  e2e/cypress.json
  e2e/cypress/plugins/index.js
  e2e/cypress/support/commands.js
  e2e/docker-compose.yml
Due: none

add commander to summit env
  deploy/summit/docker-compose.yml
Due: none

add spectrograph to config.json
  deploy/local/live/config/config.json
Due: none

Generate video when running headless
  e2e/cypress.json
Due: none

Increase default memory
  e2e/docker-compose.yml
Due: none

Update login tests to take screenshots
  e2e/cypress/integration/login_spec.js
Due: none

Add utils: functions for login and get views
  e2e/cypress/utils/utils.js
Due: none

Add UIF view tests
  e2e/cypress/integration/uif.js
Due: none

add ATCamera and ATSpectrograph to linode
  deploy/linode/config/config.json
  deploy/local/live/config/config.json
Due: Deploy Linode develop version, Deploy Linode master version

Fix master linode deploy
  Jenkinsfile
  deploy/linode/docker-compose-master.yml
Due: Deploy Linode develop version, Deploy Linode master version

Fix error in Jenkinsfile
  Jenkinsfile
Due: Deploy Linode develop version, Deploy Linode master version

Fix Jenkinsfile for master deploy
  Jenkinsfile
Due: Deploy Linode develop version, Deploy Linode master version

Fix error
  Jenkinsfile
Due: Deploy Linode develop version, Deploy Linode master version

Add missing variables for commander
  deploy/local/build/.env
Due: none

Fix manager static files mounting in linode envs
  deploy/linode/docker-compose-master.yml
  deploy/linode/docker-compose.yml
Due: Deploy Linode develop version, Deploy Linode master version

Change nginx config files to improve browsing in manager's browsabel api
  deploy/linode/nginx-develop.conf
  deploy/linode/nginx-master.conf
  deploy/local/build/nginx.conf
  deploy/local/live/nginx.conf
  deploy/summit/nginx.conf
  deploy/tucson/nginx.conf
Due: Deploy Linode develop version, Deploy Linode master version

Change config on local environments
  deploy/local/build/.env
  deploy/local/build/docker-compose.yml
  deploy/local/live/.env
  deploy/local/live/docker-compose.yml
Due: none

Change linode config
  deploy/linode/.env
  deploy/linode/docker-compose-master.yml
  deploy/linode/docker-compose.yml
Due: Deploy Linode develop version, Deploy Linode master version

Change summit and tucson envs
  deploy/summit/.env
  deploy/summit/docker-compose.yml
  deploy/tucson/.env
  deploy/tucson/docker-compose.yml
Due: none

Add love.json to every config folder and mount it on manager
  deploy/linode/config/love.json
  deploy/linode/docker-compose-master.yml
  deploy/linode/docker-compose.yml
  deploy/local/build/config/love.json
  deploy/local/build/docker-compose.yml
  deploy/local/live/config/love.json
  deploy/local/live/docker-compose.yml
  deploy/summit/config/love.json
  deploy/summit/docker-compose.yml
  deploy/tucson/config/love.json
  deploy/tucson/docker-compose.yml
Due: Deploy Linode develop version, Deploy Linode master version

Turn off alarm sounds in Linode environment
  deploy/linode/config/love.json
Due: Deploy Linode develop version, Deploy Linode master version

Path conditions:
  Deploy Linode develop version: (((((any of: deploy/linode/config/*) or (any of: deploy/linode/.env)) or (any of: deploy/linode/ospl.xml)) or (any of: deploy/linode/docker-compose.yml)) or (any of: deploy/linode/nginx-develop.conf)) or (any of: Jenkinsfile)
  Deploy Linode master version: (((((any of: deploy/linode/config/*) or (any of: deploy/linode/.env)) or (any of: deploy/linode/ospl.xml)) or (any of: deploy/linode/docker-compose-master.yml)) or (any of: deploy/linode/nginx-master.conf)) or (any of: Jenkinsfile)
